// Specific CSS for your home-page
.body {
  background-color: rgb(255,255,255);
}

h1 {
  font-family: 'Arbutus Slab', serif;
  font-size: 60px;
}

h2 {
  font-size: 40px;
  padding-bottom: 120px;
  font-family: 'Arbutus Slab', serif;
}

h5 {
  font-family: 'Arbutus Slab', serif;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #666666;
}

hr {
  margin: 30px 0;
  border: 1px solid #22269E;
  width: 100px;
  background-color: #22269E;
}

li {
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #F8F9FA;
  padding: 100px 24px;
}

.img {
  width: 70%;
}

.list-group {
  background-color: transparent;
}

.fa-whatsapp {
  color: green;
}

.padding-0 {
  padding: 0;
}

.contact-text {
  display: inline-block;
  border-bottom: 1px #666666 solid;
  padding: 8px 24px;
}

.ruby-svg {
  width: 50px;
  padding-right: 8px;
}

.icon-skills {
  padding-right: 8px;
  font-size: 30px;
}

.card-title {
  margin: 0;
}

.list-group-item {
  background-color: transparent;
}

#name {
  text-align: center;
  font-size: 28px;
  color: #22269E;
  padding: 0;
  margin: 0 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #22269E
}

.navbar-item {
  transition: all 0.1s ease-in-out;
  color: rgb(50,50,50);
}

.navbar-item:hover {
  transform: scale(1.04);
  color: #22269E;
}

.nav {
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  margin-top: -100px;
}

.nav:hover {
  background-color: rgb(255,255,255);
}

.nav-scrolled {
  background-color: rgb(255,255,255);
}

.contact-btn {
  display: inline-block;
  color: white;
  background-color: #22269E;
  padding: 8px 24px;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}

.contact-btn:hover {
  color: black;
  text-decoration: none;
  background-color: #5E9CFE;
}

.banner {
  padding-left: 350px;
}

.banner h1 {
  margin: 0;
  letter-spacing: 2px;
  font-size: 60px;
}

.banner p {
  font-size: 36px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}

.portifolio-card {
  color: black;
  text-decoration: none;
}

.portifolio-card:hover {
  color: black;
  text-decoration: none;
}

.card {
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  background-color: rgb(255,255,255);
  border: 0px;
  box-shadow: 1px 1px rgba(0,0,0,0.1);
}

.card:hover {
  box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.03);
  background-color: rgb(255,255,255);
}

.section {
  padding: 140px 0;
}

.card-img {
  height: 200px;
  width: auto;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .banner {
    padding: 100px 28px;
    z-index: 1;
  }

  .ban {
    max-width: 575px;
    overflow: hidden;
  }

  .img {
    margin-left: -200px;
    width: 200%;
    filter: blur(2px);
  }

  #name {
    border-bottom: 0;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }

  .banner {
    padding-left: 250px;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
